# Document title
 
 ### Date: 30 may 2019
 
 ### session objectives
 * To Introduce ***jupyter notebook***
 * To teach mark down syntax
 * To introduce **python** basics
  * basic syntax(variables, assignmet, datatypes)
  * control structures
    * conditional
    * repititive

 <img src='python image.png'/>
 
 
 [Link to main website](https://sites.google.com/view/gtnn-vgayatri-python-may-2019/worklog/day-4)

# python Basics

In [13]:
print(" Hello World !")# single parameter
print("Hello","world", end=":")# multiple parameters with n cahrecters
print("Hello" + "world")#concatination using +

 Hello World !
Hello world:Helloworld

In [17]:
#This is a comment

n=input("enter a value")#capture the input and store it in a variable
print(n)

enter a value1245
1245

In [19]:
n= int(n)#type conversion from string to integer
n*n/1231-124323874# expression evaluation using standard operator precedence

-124322614.84077986

In [32]:
a=b=c=n#assigning a single value to multiple variables
a
print(a,b,c)
d,e,f=123,245,369
print(d,e,f)
print(d,type(d),e,f)

1245 1245 1245
123 245 369
123 <class 'int'> 245 369

In [82]:
print(a)
print(a,b,c)
print(a,b,'\t','\n',c)

1245
1245 1245 1245.0
1245 1245
 1245.0

In [36]:
print(type(c))

<class 'str'>

In [37]:
c=str(c)
print(c)
print(type(c))
c=float(c)
print(type(c))

1245
<class 'str'>
<class 'float'>

### higher order computation

In [137]:
num = 987 ** 987

### String Slicing

In [38]:
s1="python programming"
s1[0]

'p'

In [42]:
s1[-1]
s1[-2] #only last line output will be printed

'n'

In [44]:
print(s1[-1]) #accessing last charecter
print(s1[-2])
print(s1[-0])
print(s1[0]) # accessing first charecter

g
n
p
p

In [45]:
s1[0:6] #accessing first 6 charecters
s1[:6]

'python'

In [49]:
s1[7:] #accessing all charecters from 7th index to last)
s1[7:len(s1)]

'programming'

In [64]:
# reverse of string
print(s1[::-1])
print(s1[-1::-1])

gnimmargorp nohtyp
gnimmargorp nohtyp

In [51]:
s1[7::-1]

'p nohtyp'

In [54]:
s1[-1:6:-1]#reverse of substring

'gnimmargorp'

In [55]:
s1[5::-1] #reverse of substring

'nohtyp'

In [57]:
s2='123456789'
s2[-1:2:-1] #reverse of lastlen(s2) - 3 charecters

'987654'

In [58]:
s2[5:2:-1] # reverse of charecters from index 5 to index 3

'654'

In [59]:
s2[0::3]

'147'

In [60]:
s2[1::2] #accessing alternate charecter*/

'2468'

In [61]:
s2[0::2]#accessing alternate charecter*/

'13579'

In [62]:
s2[-1::-2] # alternate charecters in reverse order

'97531'

# functions in python

In [65]:
def reverseString(s): # function definition
    return s[-1::-1]
reverseString(s2) #function call

'987654321'

In [66]:
def reverseString(s): # function definition
    return s[-1::-1]
reverseString(s2) #function call
reverseString(s1) # only last fun call will be executed

'gnimmargorp nohtyp'

In [67]:
def reverseString(s): # function definition
    return s[-1::-1]
print(reverseString(s2)) #function call
reverseString(s1) #function call

987654321

'gnimmargorp nohtyp'

In [74]:
#function to reverse substring
def reversesubstring(s,i,j):
    sub=s[i:j+1]
    return sub[::-1]  
reversesubstring('helloworld',0,4)

'olleh'

## conditional statements

In [78]:
# function to test divisibility by 9 and 11 and not 10
def divisibilitytest(n):
    if(n % 9 == 0 and n % 11 == 0 and n % 10 != 0):
        return True
    else:
            return False
print(divisibilitytest(990))
divisibilitytest(99)

False

True

In [80]:
#recursive function for  a power n
def power(a,n):
    if n==0:
        return 1
    
    return a*power(a,n-1)

power(2,6)

64

In [109]:
# function to check if given number is palindrome or not
def palindrome(n):
    n1=n
    rev=0
    while(n>0):
        r=n%10
        rev=rev*10+r
        n=n/10
    if n1==rev:
        return print('palindrome')
    else:
        return print('not palindrome')

palindrome(121)

inf
not palindrome

In [103]:
# function to find string is palindrome or not - code 1
def palindrome(s):
    if(s==reverseString(s)):
        return print('palindrome')
    else:
        return print('not palindrome')
    
palindrome('liril')

palindrome

In [99]:
# function to find string is palindrome or not - code 2
def ispalindrome(s):
    if(s==s[::-1]):
        return True
    else: 
        return False
    
    
ispalindrome('racecar')

True

### Iteration in python

In [105]:
for i in range(123,126):
    print(i)

123
124
125

In [106]:
# function to determine all numbers divisible by 7 in given range [lb,ub]
def divisible7(lb,ub):
    for i in range(lb,ub+1):
        if i%7 ==0:
            print(i)
    return 

divisible7(10,40)

14
21
28
35

In [131]:
# function to generate primes between 1 and n  -  code 1
def primes(n):
    for i in range(2,n+1):
        count=0
        for j in range(1,i+1):
            if(i%j==0):
                count=count+1
        if count==2:
            print(i, end = ' ')
    return

primes(10)

2 3 5 7

In [126]:
# function to generate primes between 1 and n - code 2
def isfactor(dividend,divisor):
    if dividend % divisor == 0:
        return True
    else:
        return False
    
def isprime(n):
    for i in range(2,n//2 + 1):
         if isfactor(n,i):
                return False
    return True
    
    
def genprimes(k):
    for i in range(2,k+1):
        if isprime(i):
            print(i, end= ' ')

genprimes(10)

2 3 5 7

In [123]:
# function for generating n primes - code 1
def isfactor(dividend,divisor):
    if dividend % divisor == 0:
        return True
    return False
    
def isprime(n):
    for i in range(2,n//2 + 1):   
         if isfactor(n,i):
            return False
    return True
    
    
def genprimes(k):
    primecounter=0
    seqcounter=2
    while primecounter < k:
        if isprime(seqcounter):
            print(seqcounter, end = ' ')
            primecounter += 1
        seqcounter +=1

genprimes(10)

2 3 5 7 11 13 17 19 23 29

In [146]:
# function for generating n primes with execution time - code 2
from math import sqrt,floor
import timeit

def isfactor(dividend,divisor):
    if dividend % divisor == 0:
        return True
    return False
    
def isprime(n):
    for i in range(2, floor(sqrt(n)) + 1):   
         if isfactor(n,i):
            return False
    return True
    
    
def genprimes(k):
    primecounter=0
    seqcounter=2
    while primecounter < k:
        if isprime(seqcounter):
            print(seqcounter, end = ' ')
            primecounter += 1
        seqcounter +=1

st= timeit.default_timer()
           
genprimes(10)
print(timeit.default_timer() - st)

2 3 5 7 11 13 17 19 23 29 0.00048218499978247564

## python Lists

In [143]:
li = [1,2,3,4,5,6,'python',5.6]
li

[1, 2, 3, 4, 5, 6, 'python', 5.6]

In [144]:
# getting last element of list
li[-1]

5.6

In [145]:
# getting last 2 elements of list
li[-2:]

['python', 5.6]

In [149]:
print(li[6][0])
type(li[6][0])

p

str

In [152]:
#adding element to list
li.append(123)
li

[1, 2, 3, 4, 5, 6, 'python', 5.6, 123, 123, 123]

In [154]:
li.append([321,543,765])
li

[1,
 2,
 3,
 4,
 5,
 6,
 'python',
 5.6,
 123,
 123,
 123,
 [321, 543, 765],
 [321, 543, 765]]

In [155]:
li.remove(5.6)
li

[1, 2, 3, 4, 5, 6, 'python', 123, 123, 123, [321, 543, 765], [321, 543, 765]]

In [156]:
li.remove([321,543,765])
li

[1, 2, 3, 4, 5, 6, 'python', 123, 123, 123, [321, 543, 765]]

In [157]:
li.remove(123)
li

[1, 2, 3, 4, 5, 6, 'python', 123, 123, [321, 543, 765]]

In [158]:
li.remove(123)
li

[1, 2, 3, 4, 5, 6, 'python', 123, [321, 543, 765]]

In [159]:
L1=[1,2,3,4,5,5.6,6]
L1

[1, 2, 3, 4, 5, 5.6, 6]

In [160]:
L2=[7,8,9]
L2

[7, 8, 9]

In [161]:
#extend() operation on lists- it merges all elements of 2nd list into 1st list
L1.extend(L2)
L1

[1, 2, 3, 4, 5, 5.6, 6, 7, 8, 9]

In [162]:
# sort function will sort in ascending order
L1.sort()
L1

[1, 2, 3, 4, 5, 5.6, 6, 7, 8, 9]

In [163]:
#sorting in reverse order ie descending order
L1.sort(reverse=True)
L1

[9, 8, 7, 6, 5.6, 5, 4, 3, 2, 1]

In [1]:
Lis=[501,'gayatri']
Lis

[501, 'gayatri']