#JNTUA FDP-Day 05
## Date: 31 may 2019
#### Day Objectives
* tuples
* dictionaries
* idiomatic programming
* regular expressions
* Linear and Binary search
* Date arithmetic
* Iterators and Generators
* Functional Programming

### Python Tuples

In [1]:
t1 = (1001, 'Sindhu', 92,72,)

In [2]:
t1

(1001, 'Sindhu', 92, 72)

In [3]:
t1.append(45)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [5]:
t1(0)

TypeError: 'tuple' object is not callable

In [6]:
t1[0]

1001

In [7]:
t1[2:]

(92, 72)

In [9]:
# accessing 2nd digit of all elements in tuple

t2 = (321,654,789098)

print(str(t2[0])[1]  + str(t2[1])[1] + str(t2[2])[1])

258

In [10]:
# accessing 2nd digit of all elements in tuple with spaces
t2 = (321,654,789098)

print(str(t2[0])[1],   str(t2[1])[1],  str(t2[2])[1])

2 5 8

In [12]:
# average of all elements in a tuple

def averagetuple(t):
    sum=0
    for i in range(0,len(t)):
        sum += t[i]
    return sum/len(t)

averagetuple(t2)

263357.6666666667

In [16]:
# average of all elements in a linearDS except string

def averageLinearDS(t):
    sum=0
    for i in range(0,len(t)):
        sum += t[i]
    return sum/len(t)

li = [123,243,456,678,890]

averageLinearDS(li)

478.0

In [19]:
# Function to search in a Linear Data Structure

def searchLinearDS(ds,key):
    for i in range(0,len(ds)):
            if ds[i]==key:
                return i
    return -1
print(searchLinearDS(li,945))   # li already created. refer above.
print(searchLinearDS(li,456))

-1
2

#### Iterable objects

In [21]:
s="python"
for i in s:
    print(i)

p
y
t
h
o
n

In [22]:
# average of all elements in a linearDS except string  using iterable objects

def averageLinearDS(t):
    sum=0
    for i in t:                           # for i in range(0,len(t)):   
                                           # sum += t[i]
        sum += i
    return sum/len(t)

li = [123,243,456,678,890]

averageLinearDS(li)

478.0

In [ ]:
# Function to search in a Linear Data Structure  using iterable objects

def searchLinearDS(ds,key):
    for i in range(0,len(ds)):  # here iterable objects cannot be used because index should be return as output.so use range()
            if ds[i]==key:
                return i
    return -1
print(searchLinearDS(li,945))  # li already created. refer above.
print(searchLinearDS(li,456))

In [24]:
# function to identify the maximum element in a data structure

def maxelementDS(ds):
    m=ds[0]
    for item in ds:
        if item>m:
            m=item
    return m


maxelementDS(li)    # li already created. refer above.

890

### python Dictionaries

In [29]:
d1 = {'gayatri': 9248048027, 'phani kumar': 9247222111 }   # All keys in dictionary are unique
print(d1['phani kumar'])

9247222111

In [26]:
d1.keys()   # All keys in dictionary are unique

dict_keys(['gayatri', 'phani kumar'])

In [27]:
d1.values()

dict_values([9248048027, 9247222111])

In [30]:
d1['sailaja']=8885551098
d1

{'gayatri': 9248048027, 'phani kumar': 9247222111, 'sailaja': 8885551098}

In [31]:
d1.pop('sailaja')   # removes a key and value
d1

{'gayatri': 9248048027, 'phani kumar': 9247222111}

In [33]:
d2={ 'roll no': 501, 'name' : 'gayatri'}
d2

{'roll no': 501, 'name': 'gayatri'}

In [34]:
# contacts Application
# add, display contacts


contacts={}

def addcontact(d, name, phone):
    d[name]=phone
    return

def displaycontacts(d):
    for name, phone in d.items():
        print(name, ":" , phone)
    return



addcontact(contacts, 'gayatri',9248048027)
addcontact(contacts, 'phani kumar', 9247222111)

displaycontacts(contacts)

gayatri : 9248048027
phani kumar : 9247222111

In [36]:
# contacts Application
# add, display, modify contacts


contacts={}

def addcontact(d, name, phone):
    d[name]=phone
    return

def displaycontacts(d):
    for name, phone in d.items():
        print(name, ":" , phone)
    return

def modifycontacts(d, name, newphone):
    d[name]=newphone
    return

def deletecontact(d, name):
    d.pop(name)
    return

addcontact(contacts,'sailaja',8885551098)
displaycontacts(contacts)

modifycontacts(contacts, 'gayatri', 7680883575)
displaycontacts(contacts)
deletecontact(contacts,'gayatri')

sailaja : 8885551098
sailaja : 8885551098
gayatri : 7680883575

In [38]:
li4=[5,4,3,2,1]
li4=list(reversed(li4))
print(type(li4))
li4

<class 'list'>

[1, 2, 3, 4, 5]

In [39]:
#  enumerate is used to access elements in ds with  value along with index
enumerate(li4)
for i, value in enumerate(li4):
    print(i, ':', value)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5

In [40]:
li3=[1,2,3,4]

In [41]:
#zip is used to combine two different lists

li3
li4
for i, j in zip(li3,li4):
    print(i,j)
zip(li3,li4)

1 1
2 2
3 3
4 4

## Regular Expressions

.[0-0]. RE for all digits appearing once  ie single digits
.[0,1,2,3,....9]

.[a-z].  RE for all lower case letters
.[A-Z]. RE for all upper case letters

.[01]. or .[10].     RE for all 0s and 1s
.[0-5]. RE for all numbers from 0-5

In [ ]:
#Homework given by Akash Sir

# 1) function to validate college student roll no

#2) Function to validate Indian phone numbers starts with 9,8,7,6 and have 10 digits


#3) function to validate email address

      username@domain.extension
      username= { string of length 9.  can contain digits, _, alphabet}
        domain= {string of atmost 9. can contain digits and alphabet}
        extension={ len of 3. only alphabets}

In [44]:
import re 
p = re.compile('[a-e]') 
print(p.findall("Aye, said Mr. Gibenson Stark"))

['e', 'a', 'd', 'b', 'e', 'a']

In [48]:
import re
p=re.compile('[1][5][2][uU][1][aA][0][1-9][0-9][0-9]')
print(p.findall("152U1A0501"))
print(p.findall("152U1A0599"))

['152U1A0501']
['152U1A0599']

In [60]:
#function to validate college student roll no - code 1

import re
def isvalidRno():
    p=re.compile('[1][5][2][uU][1][aA][0][1-9][0-9][0-9]')
    print(p.findall("152U1A0501"))
    print(p.findall("152U1A0599"))
    return

isvalidRno()

['152U1A0501']
['152U1A0599']

In [72]:
#function to validate college student roll no - code 2

import re
def isvalidRno(rollno):
    if re.match('[1][5][2][uU][1][aA][0][1-9][A-C a-c 0-9][0-9]', rollno) != None:
        return True
    return False



if isvalidRno("152U1A05b9") ==  True:
    print("valid Roll No")
else:
    print("Invalid Roll No")

valid Roll No

In [65]:
# Function to validate indian mobile numnber  -  code 1

import re
def isvalidphone(phone):
    if re.match('^[9876][0-9]{9}$', phone)  != None:
        return True
    return False

isvalidphone("9248048027")

True

In [166]:
# Function to validate indian mobile numnber  -  code 2 Akash Sir code
import re
def phoneNumberValidator(phone):
    phone = str(phone)
    pattern = '^[6-9][0-9]{9}$'
    if re.match(pattern, phone):
        return True
    return False

phoneNumberValidator(1234567890)

TypeError: 'str' object is not callable

In [ ]:
# RE for validating email address

^[a-z][a-z0-9_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}[.]?[a-z]?[a-z]?$

In [82]:
s1 ='Introduction to programming concepts with scratch, Scratch environment, sprites looks and motion, Angles and directions, repetition and variation, changing costumes, adding background, Input/Output,  variables and operators. Working with sounds and sprite communication and creating stories, App Generation.'

In [165]:
syllabusList = re.split('[,][\ ]',s1)
syllabusList

['Introduction to programming concepts with scratch',
 'Scratch environment',
 'sprites looks and motion',
 'Angles and directions',
 'repetition and variation',
 'changing costumes',
 'adding background',
 'Input/Output',
 ' variables and operators. Working with sounds and sprite communication and creating stories',
 'App Generation.']

### python Date Time Arithmetic

In [86]:
import datetime
datetime.datetime.now()

datetime.datetime(2019, 5, 31, 17, 5, 40, 948470)

In [87]:
import datetime
type(datetime.datetime.now())

datetime.datetime

In [ ]:
import datetime
datetime.datetime.now().year   #package.class.method.attribute

In [88]:
import datetime
now=datetime.datetime.now()
now.year

2019

In [89]:
import datetime
now=datetime.datetime.now()
now.day

31

In [91]:
import datetime
now=datetime.datetime.now()
now.second

16

In [92]:
import datetime
now=datetime.datetime.now()
now.minute

8

In [93]:
import datetime
now=datetime.datetime.now()
print(now.hour,now.minute,now.second)

17 9 33

In [94]:
import datetime
now=datetime.datetime.now()
print(now.hour,now.minute,now.second)
print(now)

17 9 52
2019-05-31 17:09:52.719318

In [103]:
# current date
from datetime import date
today = date.today()
print("Current date =", today)

Current date = 2019-05-31

In [101]:
#  Exp No-13  function to find difference between two given dates without using built-in function - code1
# YYYY:MM:DD is date format in a string

import datetime
def dateDifference(date1,date2):
    year1= int(date1[:4])
    month1=int(date1[5:7])
    day1=int(date1[8:])
    year2=int(date2[:4])
    month2=int(date2[5:7])
    day2=int(date2[8:])
    
    d1=datetime.date(year1,month1,day1)
    d2=datetime.date(year2,month2,day2)
    return d2-d1

print(dateDifference('2019:05:27','2019:06:01'))

5 days, 0:00:00

In [ ]:
# Exp No-13 function to find difference between two given dates with using built-in function - code2
# YYYY:MM:DD is date format in a string

In [ ]:
# Exp No-14 function to find difference between two given times without using built-in function - code1
# HH:MM:SS is time format in a string

In [ ]:
# Exp No-14 function to find difference between two given times with using built-in function - code2
# HH:MM:SS is time format in a string

In [107]:
#2020-true
#1900 - false
#16oo-true
#2008-true
#400-true
#600-false
def isLeap(year):
    if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
        return True
    return False

v1=isLeap(2020)
v2=isLeap(600)
print(v1, v2)

True False

## List comprehensions

In [108]:
li=[1,2,3,4,5,6]
sum(li)

21

In [111]:
range(123)

range(0, 123)

In [116]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [117]:
list(range(9+1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
sum(list(range(9)))

36

In [121]:
# sum of list of 10 natural numbers
sum(list(range(9+1)))

45

In [114]:
# sum of 123 natural numbers
n=123
range(123)
print(sum(range(123+1)))

7626

In [123]:
# function to calculate squareroot of n natural numbers
from math import sqrt

def sqrtNNaturalNumbers(n):
    sqrtlist=[sqrt(i) for i in list(range(1,n+1))]
    return sqrtlist

sqrtNNaturalNumbers(10)

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [124]:
# function to calculate sum of squareroot of n natural numbers
from math import sqrt

def sqrtNNaturalNumbers(n):
    sqrtlist=sum([sqrt(i) for i in list(range(1,n+1))])
    return sqrtlist

sqrtNNaturalNumbers(10)

22.4682781862041

In [125]:
li

[1, 2, 3, 4, 5, 6]

In [126]:
# function to calculate square of all elements in list and return a list must consists of all its squares

def squareListElements(li):
    return [i**2 for i in li]

squareListElements(li)

[1, 4, 9, 16, 25, 36]

In [129]:
#define function using list comprehension 
# to findout all values that are divisible by 9 in given list

li1=list(range(1,50))

def divisible9LC(li1):
    return [i for i in li1 if i%9 ==0]

divisible9LC(li1)

[9, 18, 27, 36, 45]

In [134]:
# find out the list of all leap years in last 50 years - code 1

li2=list(range(1979,2019))

def leapyearList(li2):
    return [i for i in li2 if (i%4 ==0 and i% 100 !=0)  or i%400 == 0]

leapyearList(li2)

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [135]:
# find out the list of all leap years in last 50 years - code 2

li2=list(range(1979,2019)) 
[i for i in li2 if (i%4 ==0 and i% 100 !=0)  or i%400 == 0]

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

## Maps
functions and iterators are passed as parameters to maps

In [138]:
)n n ** 3
map(cube,li)  # map returns map object

In [139]:
# define a function to calculate the cubes of all numbers in a list
# we can do it using list comprehension or maps
# here we develop code using maps
li=[1,2,3,4,5,6]
def cube(n):
    return n ** 3
map(cube,li)  # map returns map object. so convert map to list as follows.
list(map(cube,li))

[1, 8, 27, 64, 125, 216]

In [144]:
li=[1,2,3,4,5,6]
def cube(n):
    return n ** 3

sum(list(map(cube, li)))

441

In [147]:
def cube(n):
    return n ** 3
for i in li:   #using loop
    cube(i)
li

[1, 2, 3, 4, 5, 6]

In [148]:
def cube(n):
    return n ** 3
sum([cube(i) for i in li])   #using list comprehension
li

[1, 2, 3, 4, 5, 6]

In [149]:
li=[1,2,3,4,5,6]
def cube(n):
    return n ** 3

sum(list(map(cube, li)))   #using map

li

[1, 2, 3, 4, 5, 6]

In [164]:
# function to convert number into words

#123
#1  2   3

def listofdigits(n):
    digit = []
    i = 0
    while(n!=0):
        digit.append(n%10)
        n = n // 10
        i+=1
    return digit[-1::-1]

def numbertowords(n):
    digits=listofdigits(n)
    dictdigits = {1:'one',2:'two',3:'three',4:'four'}
    dictplaceholder={0:'units',1:'tens',2:'hundred',3:'thousand'}
    #for i in range(0,len(digits)):
        
    return digits

numbertowords(1230)

[1, 2, 3, 0]