#JNTUA FDP-Day 05
## Date: 31 may 2019
#### Day Objectives
* tuples
* dictionaries
* regular expressions
* Linear and Binary search
* Date arithmetic
* Iterators and Generators
* Functional Programming

### Python Tuples

In [1]:
t1 = (1001, 'Sindhu', 92,72,)

In [2]:
t1

(1001, 'Sindhu', 92, 72)

In [3]:
t1.append(45)

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
t1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [5]:
t1(0)

TypeError: 'tuple' object is not callable

In [6]:
t1[0]

1001

In [7]:
t1[2:]

(92, 72)

In [9]:
# accessing 2nd digit of all elements in tuple

t2 = (321,654,789098)

print(str(t2[0])[1]  + str(t2[1])[1] + str(t2[2])[1])

258

In [10]:
# accessing 2nd digit of all elements in tuple with spaces
t2 = (321,654,789098)

print(str(t2[0])[1],   str(t2[1])[1],  str(t2[2])[1])

2 5 8

In [12]:
# average of all elements in a tuple

def averagetuple(t):
    sum=0
    for i in range(0,len(t)):
        sum += t[i]
    return sum/len(t)

averagetuple(t2)

263357.6666666667

In [16]:
# average of all elements in a linearDS except string

def averageLinearDS(t):
    sum=0
    for i in range(0,len(t)):
        sum += t[i]
    return sum/len(t)

li = [123,243,456,678,890]

averageLinearDS(li)

478.0

In [19]:
# Function to search in a Linear Data Structure

def searchLinearDS(ds,key):
    for i in range(0,len(ds)):
            if ds[i]==key:
                return i
    return -1
print(searchLinearDS(li,945))   # li already created. refer above.
print(searchLinearDS(li,456))

-1
2

#### Iterable objects

In [21]:
s="python"
for i in s:
    print(i)

p
y
t
h
o
n

In [22]:
# average of all elements in a linearDS except string  using iterable objects

def averageLinearDS(t):
    sum=0
    for i in t:                           # for i in range(0,len(t)):   
                                           # sum += t[i]
        sum += i
    return sum/len(t)

li = [123,243,456,678,890]

averageLinearDS(li)

478.0

In [ ]:
# Function to search in a Linear Data Structure  using iterable objects

def searchLinearDS(ds,key):
    for i in range(0,len(ds)):  # here iterable objects cannot be used because index should be return as output.so use range()
            if ds[i]==key:
                return i
    return -1
print(searchLinearDS(li,945))  # li already created. refer above.
print(searchLinearDS(li,456))

In [24]:
# function to identify the maximum element in a data structure

def maxelementDS(ds):
    m=ds[0]
    for item in ds:
        if item>m:
            m=item
    return m


maxelementDS(li)    # li already created. refer above.

890

### python Dictionaries

In [29]:
d1 = {'gayatri': 9248048027, 'phani kumar': 9247222111 }   # All keys in dictionary are unique
print(d1['phani kumar'])

9247222111

In [26]:
d1.keys()   # All keys in dictionary are unique

dict_keys(['gayatri', 'phani kumar'])

In [27]:
d1.values()

dict_values([9248048027, 9247222111])

In [30]:
d1['sailaja']=8885551098
d1

{'gayatri': 9248048027, 'phani kumar': 9247222111, 'sailaja': 8885551098}

In [31]:
d1.pop('sailaja')   # removes a key and value
d1

{'gayatri': 9248048027, 'phani kumar': 9247222111}

In [33]:
d2={ 'roll no': 501, 'name' : 'gayatri'}
d2

{'roll no': 501, 'name': 'gayatri'}

In [34]:
# contacts Application
# add, display contacts


contacts={}

def addcontact(d, name, phone):
    d[name]=phone
    return

def displaycontacts(d):
    for name, phone in d.items():
        print(name, ":" , phone)
    return



addcontact(contacts, 'gayatri',9248048027)
addcontact(contacts, 'phani kumar', 9247222111)

displaycontacts(contacts)

gayatri : 9248048027
phani kumar : 9247222111

In [36]:
# contacts Application
# add, display, modify contacts


contacts={}

def addcontact(d, name, phone):
    d[name]=phone
    return

def displaycontacts(d):
    for name, phone in d.items():
        print(name, ":" , phone)
    return

def modifycontacts(d, name, newphone):
    d[name]=newphone
    return

def deletecontact(d, name):
    d.pop(name)
    return

addcontact(contacts,'sailaja',8885551098)
displaycontacts(contacts)

modifycontacts(contacts, 'gayatri', 7680883575)
displaycontacts(contacts)
deletecontact(contacts,'gayatri')

sailaja : 8885551098
sailaja : 8885551098
gayatri : 7680883575

In [38]:
li4=[5,4,3,2,1]
li4=list(reversed(li4))
print(type(li4))
li4

<class 'list'>

[1, 2, 3, 4, 5]

In [39]:
#  enumerate is used to access elements in ds with  value along with index
enumerate(li4)
for i, value in enumerate(li4):
    print(i, ':', value)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5

In [40]:
li3=[1,2,3,4]

In [41]:
#zip is used to combine two different lists

li3
li4
for i, j in zip(li3,li4):
    print(i,j)
zip(li3,li4)

1 1
2 2
3 3
4 4